/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: var(--background__page);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight);
  margin-bottom: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  align-items: center;
  min-height: 366px;
  width: clamp(375px, 50%, 700px);
  background-color: var(--background__content-color);
  font-family: var(--font-headline);
  text-transform: uppercase;
  color: var(--font-color);
  border: 2px solid var(--border-color);
  margin: 100px 0;
  padding-bottom: 24px;
  gap: 22px;
}

.header-titel {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem); /* 49px-65px*/
  padding-right: 10px;
}

.header-text {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem); /* 14px-23px*/
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 20px;
  gap: 10px;
}

.theme-menu__button {
  position: relative;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
  transition: opacity 0.3s;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 90%;
  height: 2px;
  background-color: var(--font-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
  cursor: pointer;
  border: none;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/* стрелочка */
.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  position: absolute;
  content: "▶";
  margin-inline-start: -20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: clamp(375px, 50%, 700px);
  margin-bottom: 50px;
}

.main__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background__content-color);
  font-family: var(--font-text);
  color: var(--font-color);
  border: 2px solid var(--border-color);
}

.main__block-titel {
  font-size: 18px;
  padding: 7px 12px;
  font-variation-settings: "wght" var(--font-weight-bold);
  border-bottom: 2px solid var(--border-color);
}

.main__content-images {
  position: relative;
  max-height: clamp(23.188rem, 16.035rem + 30.516vw, 43.5rem);
}

.watermark {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  font-family: var(--font-headline);
  color: var(--font-color);
  font-size: 14px;
  mix-blend-mode: hard-light;
  z-index: 1;
  opacity: 50%;
  text-shadow: 1px var(--watermark-color);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .watermark {
    -webkit-text-stroke: 1px var(--watermark-color);
    text-stroke: 1px var(--watermark-color);
    text-shadow: none;
  }
}

.content-images {
  width: 100%;
  object-fit: cover;
}

.grey__filter {
  filter: grayscale(70%) contrast(90%);
}

.brightness__filter {
  filter: brightness(100%) saturate(350%);
}

.hue-rotate__filter {
  filter: hue-rotate(30deg);
}

.invert__filter {
  filter: invert(100%) contrast(60%);
}

.sepia__filter {
  filter: sepia(90%);
}

.blur__filter {
  filter: blur(10px);
}

.rose__filter {
  filter: invert(15%) hue-rotate(80deg) brightness(175%) contrast(70%) blur(1.5px);
}

.main__content {
  padding: 24px 27px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top: 2px solid var(--border-color);
}

.main__content:last-child {
  align-items: end;
  justify-content: end;
}

.main__content-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-size: 18px;
}

.main__content-buttons {
  display: flex;
  max-height: 38px;
}

.card__icon-button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border: 1.5px solid var(--border-color);
  transition: border 0.3s ease;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 35px;
  transition: 0.5s ease-in-out;
  width: 130px;
}

.hidder__button-text {
  font-family: var(--font-headline);
  font-size: 14px;
  color: var(--font-color);
  position: relative;
  background-color: transparent;
  border: 1.5px solid var(--border-color);
  cursor: pointer;
}

.hidder__button-text::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--hidder__button-color);
  transform-origin: left;
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
}

.hidder__button-text:hover::after {
  transform: scaleX(1);
}

.main__content-button:hover {
  cursor: pointer;
}

.main__content-button:focus {
  outline: none;
}

.main__content-button:focus-visible {
  box-shadow: 3px 3px var(--font-color);
  outline: none;
}

.button__text {
  font-family: var(--font-headline);
  font-size: 14px;
  color: var(--button-text-color);
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  width: clamp(19.125rem, 18.487rem + 2.723vw, 20.938rem);
  margin-left: 8px;
}

.footer-button {
  padding: 13px 0 20px 0px;
  border: 1.5px solid var(--border-color);
  background-color: var(--background__content-color);
  width: 100%;
}

.icon__floppy {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
  width: 21px;
  height: 21px;
}

.dialog {
  background-color: var(--background__content-color);
  border: 1.5px solid var(--border-color);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  inline-size: 353px;
  padding: 25px;
  gap: 30px;
}

.dialog__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__content-text {
  font-family: var(--font-headline);
  font-size: 14px;
  width: clamp(12.375rem, 11.583rem + 3.38vw, 14.625rem);
  color: var(--font-color);
  text-transform: uppercase;
  line-height: 20px;
}

.dialog__icon {
  width: 39px;
  height: 39px;
}

.dialog__content-button {
  width: 100%;
  height: 38px;
  outline: none;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.728);
}

@media (width <= 375px) {
  .page {
    margin: 0;
  }

  .header {
    min-height: 327px;
    gap: 23px;
  }

  .main {
    gap: 50.5px;
  }

  .main__content {
    padding: 25px 27px;
  }

  .main__block-titel {
    padding: 5px 10px;
  }

  .main__content-images {
    position: relative;
    padding: 0;
  }

  .main__content-mobil {
    padding: 24px 28px;
  }

  .footer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px 0 15px 0;
  }

  .icon__floppy {
    width: 28px;
    height: 28px;
  }
}